.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


mark {
    background-color: blue;
    color: black;
}

span.name {
    display: block;
}

span.name::first-letter {
    line-height: 0.8;
    font-size: 200%;
    color: #0927EE;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#mainBody {
        padding-top: 70px;
}

#mainPageButton  {
        padding-top: 13px;
}