.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}


mark {
    background-color: blue;
    color: black;
}

span.name {
    display: block;
}

span.name::first-letter {
    line-height: 0.8;
    font-size: 200%;
    color: #0927EE;
}