<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/style.css">


</head>
<body>
<div class="container">
<h1>Transformed picture</h1>
    {% if path is defined %}
    <img src= {{ url_for('static', filename = 'uploads/r' + path) }}>
    {% endif %}


</div>

</body>
</html>