<!DOCTYPE html>
<html lang="en">
<head>
    <title>Linear algebra project</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
             tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
         });


    </script>
    <script type="text/javascript" async
            src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

</head>
<body>

<div class="container">
{#    <div id="browse_app">#}
{#  <a class="btn btn-large btn-info" href="templates/home.html">Browse</a>#}
{#</div>#}
    <div class="title">
        <h1>Upload new File</h1>
    </div>
    <form action="" method=post enctype=multipart/form-data>
        <p><input type=file name=file>
            <input type=submit value=Upload>
    </form>
    <div class="top-right">
        <img src= {{ url_for('static', filename = 'giphy.gif') }}>
    </div>
</div>
</body>

<footer class="footer">
    <div class="container">
        <h4 class="text-right">Team:</h4>
        <address class="text-right text-success ">
            <span class="name">Matt Kovtun</span>
            <a href="mailto:#">kovtun_m@ucu.edu.ua</a>
            <br>
            <span class="name">Yaruna Pavlyshyn</span>
            <a href="mailto:#">pavlyshyn_y@ucu.edu.ua</a>
            <br>
            <span class="name">Vilnitsky</span>
            <a href="mailto:#">laba@ucu.edu.ua</a>
            <br>
            <span class="name">Yasya Shpot</span>
            <a href="mailto:#">n.y.shpot@ucu.edu.ua</a>
            <br>
            <span class="name">Natalia Ivanivna</span>
            <a href="mailto:#">paranyak@ucu.edu.ua</a>
            <br>
            <span class="name">Algorithm</span>
            <a href="https://en.wikipedia.org/wiki/LU_decomposition">LU decomposition</a>
        </address>
    </div>
</footer>
</html>