<!DOCTYPE html>
<html>
<head>
    
    <meta charset=utf-8>
    <title>Simple template</title>
</head>
<body>
<header><h1>{{ title }}</h1></header>
<section>
    <p>
        But don't you worry cause you'll be safe
    <p>
        I got a ticket to piss your days away
    <p>
        So how long before the rivers start to rise, dear?
    <p>
        Yeah I thank my lucky stars to be alive here
    <p>
        Don't be afraid of the view from economy class
    <p>
        It's just the captain and crew jumping off of the mast
    <p>
        All aboard on the ghost ship of cannibal rats
    <p>
        All aboard on the ghost ship of cannibal rats
    <p>
        Who's gonna sound the alarm when the bridges collapse?
    <p>
        Is this the point where the bomb reaches critical mass?
    <p>
        All aboard on the ghost ship of cannibal rats
    <p>
        All aboard on the ghost ship of cannibal rats
    </p>
</section>
</body>
</html>